/* Basic layout */
html {
	overflow-x: hidden
}
header {
	text-align: center;
	background: #232323
}
footer {
	padding-top: 10px;
	padding-bottom: 0px;
	bottom:0;
	width:100%;
	padding: 2rem 1rem;
	text-align: center;
	background: #232323
}

.footer-clean ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0
}

.footer-clean ul a {
	color: inherit;
	text-decoration: none;
	opacity: .8
}

.footer-clean h3 {
	margin-bottom: 12px;
	font-weight: bold
}

main {
	margin: 30px 0
}
.img-fluid {
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem
}
@media (min-width: 576px) {
	footer {
		padding: 4rem 2rem
	}
}

/* Versions btn for small screen */
@media (max-width: 777px) {
	.btn-group {
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: start;
		-ms-flex-pack: center;
		justify-content: center
	}

	.btn-group > .btn {
		border-radius: 0.25rem !important;
		-webkit-border-radius: 0.25rem !important;
		-moz-border-radius: 0.25rem !important
	}

	#bottomButtons .btn {
		display: block;
		width: 100%;
	}

	#bottomButtons .btn-custom-grey {
		margin-right: 0;
		margin-bottom: 8px;
	}
}

label {
	cursor: pointer;
	display: inline
}

.fa-info-circle {
	color: lightcoral;
	margin-left: -5px
}

.fa-info-circle:hover {
	color: #eb5252
}

input[type=radio] + label {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	padding: 2px 4px
}

input[type=radio]:checked + label {
	background-color: lightcoral;
	color: black
}

.modNotChosen input[type=radio]:checked + label {
	background-color: transparent;
	color: white
}

.btn-custom {
	color: #fff;
	background-color: #4a0332;
	border-color: #e83e8c
}

.btn-custom.focus, .btn-custom:focus, .btn-custom:hover {
	box-shadow: none;
	background-color: #e83e8c;
	border-color: #e83e8c;
	color: #fff
}

.btn-custom:not(:disabled):not(.disabled).active, .btn-custom:not(:disabled):not(.disabled):active, .show>.btn-custom.dropdown-toggle {
	color: #fff;
	background-color: #941b6b;
	border-color: #e83e8c
}

.btn-custom.disabled, .btn-custom:disabled {
	color: #fff;
	background-color: #4a0332;
	border-color: #e83e8c
}

.btn-custom.disabled:hover, .btn-custom:disabled:hover {
	color: #fff;
	background-color: #4a0332;
	border-color: #e83e8c
}

.btn-custom-grey {
	color: #fff;
	background-color: #232323;
	border-color: #848484;
}

.btn-custom-grey.focus, .btn-custom-grey:focus, .btn-custom-grey:hover {
	box-shadow: none;
	background-color: #848484;
	border-color: #848484;
	color: #fff
}

.btn-custom-grey:not(:disabled):not(.disabled).active, .btn-custom-grey:not(:disabled):not(.disabled):active, .show>.btn-custom-grey.dropdown-toggle {
	color: #fff;
	background-color: #444;
	border-color: #777
}

.btn-custom-grey.disabled, .btn-custom-grey:disabled {
	color: #fff;
	background-color: #232323;
	border-color: #848484;
}

.btn-custom-grey.disabled:hover, .btn-custom-grey:disabled:hover {
	color: #fff;
	background-color: #232323;
	border-color: #848484;
}

/* Make the image fully responsive (carousel) */
.carousel-inner img {
	width: 100%;
	height: 100%
}
/* Carousel arrow hover animation */
.item img {
	margin: 0 auto
}

.btn-group-custom .btn {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0
}

.btn-group-custom:first-child .btn:first-child {
	border-top-left-radius: .8em
}
.btn-group-custom:first-child .btn:last-child {
	border-top-right-radius: .8em
}
.btn-group-custom:last-child .btn:last-child {
	border-bottom-right-radius: .8em
}
.btn-group-custom:last-child .btn:first-child {
	border-bottom-left-radius: .8em
}

/* Dark colors */
::-webkit-scrollbar{
	width: 17px
}
::-webkit-scrollbar-button{
	height: 17px
}
::-webkit-scrollbar-track{
	background: #0E0E0E
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb{
	background: #3E3E3E;
	border: 2px solid #0E0E0E
}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover{
	background: #575757
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active{
	background: #878787
}
.card {
	background: #2D2E32;
	border-radius: 8px;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px
}
body {
	background: #171717;
	color: #fff
}
p {
	color: rgba(255, 255, 255, .7)
}

#zipOptions ::-webkit-input-placeholder {
	font-style: italic;
}
#zipOptions :-moz-placeholder {
	font-style: italic;  
}
#zipOptions ::-moz-placeholder {
	font-style: italic;  
}
#zipOptions :-ms-input-placeholder {  
	font-style: italic; 
}

#zipOptions #archiveName.empty {
	background: #ccc;
}

a {
	color: #f72485;
}

.customModal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	z-index: 3000;
	text-align: center
}

.customModal > * {
	display: inline-block;
	vertical-align: middle
}

.customModal > span.taille {
	height: 100%
}

.customModal .customModalContent {
	background: #232323;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	text-align: left;
	position: relative
}

.customModalContent .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .5rem 0.75rem;
	color: white;
	z-index: 100;
}

#downloadModalContent #steps {
	align-items: center
}

#downloadModalContent #steps .btn-custom {
	height: 2.2rem;
	width: 2.2rem;
	padding-top: 0;
	padding-bottom: 0
}

#downloadModalContent #steps .line {
	height: 1px;
	background-color: lightgray
}

#downloadModalContent #logs {
	background: #171717;
	height: 300px;
	overflow-x: auto;
	overflow-y: scroll
}

#downloadModalContent #zipProgressBar > * {
	transition: unset;
	background-color: rgb(123, 0, 82);
}

#logs .log {
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

#logs .log:nth-child(even) {
	background-color: rgba(0,0,0,0.2)
}

#logs .log.error {
	background-color: rgba(255,25,25, 0.5)
}

main.container > ol {
	padding-left: 10px
}
main.container > ol > li {
	margin-top: 30px
}

.modal-header {
	border-bottom: 1px solid #2D2E32
}
.modal-footer {
	border-top: 1px solid #2D2E32
}
h2, h3, h4, h5 {
	font-weight: 300
}

#SearchBar {
	background-image: url(https://raw.githubusercontent.com/Faithful-Mods/Faithful-Mods.github.io/master/image/css/searchicon.png);
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #868686;
	border-radius: .8em;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em
}

.advice {
	margin: 1px 0 12px;
	font-size: 0.75em;
	opacity: 0.75
}

#app .w3-ul li:hover{
	background-color: rgba(0,0,0,.35);
	color: white
}

#app .w3-ul li {
	border-color: #131313;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.modNotChosen {
	opacity: 0.7
}

.mod-img {
	width: 65px !important;
	height: 65px;
	background-size: auto 100%;
	background-size: contain;
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	background-position: center
}

.version > * {
	display: inline-block;
	vertical-align: middle
}

.btn {
	border-radius: .8em;
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em
}

.w3-card-4 {
	background: #1b1b1b
}

.center {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px
}

blockquote {
	padding-left: 10px;
	border-left: 5px solid #e83e8c
}

/* Flexbox */
.flex-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap
}
.flex-container > .card {
	margin: 15px auto
}

/* Classes for images next to text UNUSED */
.links-image {
	width: 100%;
	margin: 0 0 15px 0;
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem
}
.links-image img {
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem
}
@media (min-width: 992px) {
	.links-image, .links-content {
		display: inline-block
	}
	.links-image {
		margin: 0 15px 0 0;
		width: 500px
	}
	.links-content {
		width: calc(100% - 545px);
		vertical-align: top
	}
}

/* navbar */
.custom-navbar-wrapper {
	position: sticky;
	top: 0;
	background: #1B1B1B;
	z-index: 1020
}
.navbar-gallery {
	z-index: 0;
	background: #1C1C1C
}

@media (min-width: 800px) {
	.custom-navbar-wrapper {
		text-align: center
	}
	.custom-navbar {
		display: inline-flex
}

/* Header images*/
.header-image {
	display: block;
	max-width: 100%;
	margin: 0 auto 1rem;
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
}
@media (min-width: 768px) {
	.header-image {
		max-width: 75%
	}
}

/* Custom carousel */
.custom.carousel {
	margin-bottom: 45px
}
.custom.carousel-item-prev, .custom.carousel-item.active, .custom.carousel-item-next {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column
}
.custom.carousel-indicators {
	bottom: -45px
}
.custom.carousel-item > .card {
	cursor: pointer;
	transition-duration:.3s;
	margin: 15px auto
}
.custom img {
	height: auto
}
.custom.carousel-item > .card:hover {
	box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.5)
}
@media (min-width: 624px) {
	.custom.carousel-item > .card {
		flex: 0 0 34%
	}
	.custom.carousel-item-prev, .custom.carousel-item.active, .custom.carousel-item-next {
		flex-wrap: wrap;
		flex-direction: row
	}
	.custom.carousel-control-prev {
		left: -50px
	}
	.custom.carousel-control-next {
		right: -50px
	}
}
@media (min-width: 992px) {
	.custom.carousel-item > .card {
		flex: initial
	}
	.custom.carousel-control-prev {
		left: -100px
	}
	.custom.carousel-control-next {
		right: -100px
	}
}

.card-img-top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	transition: 0.3s;
	color: #000
}

.nav-link {
	transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out
}

.nav-link:hover {
	transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95)
}

img {
	border: 0 solid #000
}

/* make images not draggable and rendering pixelated */
img[src$=".png"] {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.item a img.img-fluid {
	transition: all .5s ease
}

.item a img.img-fluid:hover {
	transform: scale(1.1)
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
