---
layout: default
title: Mods List
---

<div id="app">
	<a id="target" style="display: none"></a>
  
  <br>
  <minecraft-versions :versions="minecraftVersions" :title="sentences.downloadVersion" :breakpoints="breakpoints"></minecraft-versions>
  <br>

  <button id="ResultBtn" v-on:click="download" :disabled="!canPackMods || this.isLoadingDownload" class="btn btn-block btn-custom" v-html="downloadButtonText"></button><br>
  
  <local-download :canPack="canPackMods"></local-download>
  <br>

  <div>
    <input id="SearchBar" type="text" placeholder="Search for mods or MC version.." title="Type something" v-model="form.search">
    <div id="advice" v-text="searchAdvice"></div>
  </div>
  
  <div v-if='filteredMods.length == 0' v-text="emptyTable" id="noresults"></div>
  <table id="ModsTable" class="table table-custom">
  <tr v-for='mod in filteredMods' :key='mod.name[0]'>
    <td>
      <div>
        <input  :id="mod.name[0]" type="checkbox" v-model="mod.selected"> 
        <label :for="mod.name[0]" v-text="mod.name[0]"></label>
      </div>
      <div :class="{'version-radio-select': true, version: true, modNotChosen: !mod.selected}">
        <label v-for="version in mod.versions" :key="modId(mod, version)" :id="modId(mod, version)" :class="{'badge': true, 'badge-light': true, 'mb-0': true, 'mr-1': true, 'modChosen': mod.selected && mod.versionSelected == version}">
        <input :disabled="!mod.selected" type="radio" :id="modId(mod, version)" :name="mod.name[1]" v-model="mod.versionSelected" :value="version"> 
        <span v-text="version"></span>
      </label>
      </div>
    </td>
  </tr>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/ajax.js"></script>
<script src="js/extensionjs.js"></script>
<script src="js/downloadFile.js"></script>
<script src="js/minecraftUtils.js"></script>
<script src="js/components/minecraftVersions.js"></script>
<script src="js/components/downloadMinecraftVersion.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jszip.min.js"></script>
<script src="js/IndexedDBPromise.js"></script>
<script src="js/FileSaver.min.js"></script>
<script src="js/components/localDownload.js"></script>
<script src="js/index.js"></script>