---
layout: default
title: Mods List
---

<div id="app">
	<button id="ResultBtn" v-on:click="download" class="btn btn-block btn-light disabled">Download Resource Pack</button><br>

  <div>
  <input id="SearchBar" type="text" placeholder="Search for mods or MC version.." title="Type something" v-model="form.search">
  <div id="advice" v-text="searchAdvice"></div>
	</div>
	<hr>

  <div v-if='filteredMods.length == 0' v-text="emptyTable" id="noresults"></div>
  <table id="ModsTable" class="table table-dark">
  <tr v-for='mod in filteredMods' :key='mod.name[0]'>
    <td>
      <div>
        <input  :id="mod.name[0]" type="checkbox" v-model="mod.selected"> 
        <label :for="mod.name[0]" v-text="mod.name[0]"></label>
      </div>
      <div class='version-radio-select'>
        <label v-for="version in mod.versions" :key="modId(mod, version)" :id="modId(mod, version)" :class="{'badge': true, 'badge-light': true, 'mb-0': true 'mr-1': true, 'modChosen': mod.versionSelected == version}">
        <input :disabled="!mod.selected" type="radio" :id="modId(mod, version)" :name="mod.name[1]" v-model="mod.versionSelected" :value="version"> 
        <span v-text="version"></span>
      </label>
      </div>
    </td>
  </tr>
</table>
  <div id="Result" v-text="result"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/ajax.js"></script>
<script src="js/index.js"></script>

<script>
	function Download() {
		var ModsCount = ModsSelection.length;
		var result = document.getElementById("Result");
		
		var btn = document.getElementById("ResultBtn");
		var asClass = btn.classList.contains('disabled');
		
		if (ModsCount > 0 && asClass == false) {

			if (ModsCount == 1) {
					var modver = ModsSelection[0].split('_');
						var mod = modver[0];
						var ver = modver[1].replace(new RegExp('-', 'g'), '.');
						
						window.open('https://github.com/Faithful-Mods/' + mod + '/archive/' + ver + '.zip', '_blank');
				}
			else {
				var urlList = []

				result.innerHTML = "not defined yet"
			}
		}
	}

	function Search() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("SearchBar");
		filter = input.value.toUpperCase();
		table = document.getElementById("ModsTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

	var ModsSelection = new Array()

	function Selection(mod) {
		var result = document.getElementById("Result");
		var btn = document.getElementById("ResultBtn");

		if (ModsSelection.includes(mod)){
			// Remove from array if already in
			ModsSelection = ModsSelection.filter(e => e !== mod);
		} else {
			// Add it if not found
			ModsSelection.push(mod);
		}

		if (ModsSelection.length > 0){
			btn.classList.remove('disabled');
		} else {
			btn.classList.add('disabled');
		}

		result.innerHTML = ModsSelection;
	}
</script>