---
layout: default
title: Mods List
---

<div id="app">
	<a id="target" style="display: none"></a>
  
  <br>
  <minecraft-versions :versions="minecraftVersions" :title="sentences.downloadVersion" :breakpoints="breakpoints"></minecraft-versions>
  <br>

  <button id="ResultBtn" v-on:click="download" :disabled="!canPackMods || this.isLoadingDownload" class="btn btn-block btn-custom" v-html="downloadButtonText"></button><br>
  
  <local-download :canpack="canPackMods"></local-download>
  <br>

  <div>
    <input id="SearchBar" type="text" placeholder="Search for mods or MC version.." title="Type something" v-model="form.search">
    <div id="advice" v-text="searchAdvice"></div>
  </div>
  
  <div v-if='filteredMods.length == 0' v-text="emptyTable" id="noresults"></div>

  <minecraft-mod-list :mods="filteredMods"></minecraft-mod-list>
</table>
</div>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/ajax.js"></script>
<script src="js/extensionjs.js"></script>
<script src="js/downloadFile.js"></script>
<script src="js/minecraftUtils.js"></script>
<script src="js/components/minecraftVersions.js"></script>
<script src="js/components/downloadMinecraftVersion.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jszip.min.js"></script>
<script src="js/IndexedDBPromise.js"></script>
<script src="js/FileSaver.min.js"></script>
<script src="js/components/localDownload.js"></script>
<script src="js/components/minecraftMod.js"></script>
<script src="js/components/minecraftModsList.js"></script>
<script src="js/index.js"></script>