{% assign organization_name = 'Faithful-Mods' %}
{% assign github_organization_url = 'https://github.com/' | append: organization_name | append: '/' %}
{% assign project_name = 'Compliance Mods' %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ project_name }} - {{ page.title }}</title>
	<meta name="description" content="32x textures for various Minecraft mods (Java Edition)" />
	<meta name="keywords" content="Minecraft Mods, Resource Pack, Mod">
	<meta name="theme-color" content="#00ccaf">

	<meta http-equiv="Access-Control-Allow-Origin" content="*">

	<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png" />
	<meta property="og:image" content="{{ site.baseurl }}/image/icon/organization_icon.png" />
	<meta property="twitter:image" content="{{ site.baseurl }}/image/icon/organization_icon.png" />
	<meta name="twitter:card" content="summary_large_image">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

	<!-- Font awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
	<header>
		<div class="owl-carousel owl-theme">
			<div class="item">
				<a href="/" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/organization_icon.png" style="width: 128px; height: 128px;" class="img-fluid" alt="{{ project_name }}">	
				</a>
			</div>
			<div class="item">
				<a href="https://compliancepack.net/" target="_blank" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_32x.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance">
				</a>
			</div>
			<div class="item">
				<a href="https://discord.com/invite/Tqtwtgh" target="_blank" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_64x.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance 64x">
				</a>
			</div>
			<div class="item">
				<a href="https://faithfultweaks.com/" target="_blank" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Tweaks">
				</a>
			</div>
			<div class="item">
				<a href="https://faithful-dungeons.github.io/Website/" target="_blank" rel="noopener">
					<img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Dungeons">
				</a>
			</div>
			<div class="item">
				<a href="https://faithful.team/tag/faithful-addons/" target="_blank" rel="noopener">
				<img src="{{ site.baseurl }}/image/icon/compliance_addons.png" style="width: 128px; height: 128px;" class="img-fluid" alt="Compliance Addons">
				</a>
			</div>
		</div>
	</header>

	<div class="custom-navbar-wrapper">
		<nav class="custom-navbar navbar navbar-expand-sm navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-label="Menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/"><i style="margin-right: 5px" class="fas fa-wrench"></i>Mods</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/modpacks"><i style="margin-right: 5px" class="fas fa-cube"></i>Modpacks</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/mod-addons"><i style="margin-right: 5px" class="far fa-plus-square"></i>Mod Addons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/help-us"><i style="margin-right: 5px" class="fas fa-hands-helping"></i>Help us!</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/stats"><i style="margin-right: 5px" class="far fa-chart-bar"></i>Stats</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://discord.gg/QF2CAX7"><i style="margin-right: 5px" class="fab fa-discord"></i>Discord</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ github_organization_url }}"><i style="margin-right: 5px" class="fab fa-github"></i>GitHub</a>
					</li>
				</ul>
			</div>  
		</nav>
	</div>

	<main class="container" style="min-height: 400px">
		<h2 align="center">
			This website has been merged in an effort to improve user experience and maintainability and will no longer be updated. Please use our new website <a href="https://compliancepack.net">https://compliancepack.net</a></h2>
		<p align="center">Find all the features there:</p>
		<p align="center">
			<a href="https://compliancepack.net/mods">Mods</a><br>
			<a href="https://compliancepack.net/modpacks">Modpacks</a><br>
			<a href="https://compliancepack.net/stats">Satistics</a><br>
		</p>
		<br>
		<p align="center"><a href="#">Discover why</a></p>
	</main>

	<div class="footer-clean">
		<footer>
			<div class="container">
				<div class="row justify-content-center" align="justify">
					<div class="col-sm-3 item">
						<h3>Pages</h3>
						<ul>
							<li>
								<a href="{{ site.baseurl }}/"><i style="margin-right: 5px" class="fas fa-wrench"></i>Mods</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/modpack"><i style="margin-right: 5px" class="fas fa-cube"></i>Modpacks</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/mod-addons"><i style="margin-right: 5px" class="far fa-plus-square"></i>Mod Addons</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/help-us"><i style="margin-right: 5px" class="fas fa-hands-helping"></i>Help us!</a>
							</li>
							<li>
								<a href="{{ site.baseurl }}/stats"><i style="margin-right: 5px" class="far fa-chart-bar"></i>Stats</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 item">
						<h3>Related</h3>
						<ul>
							<li>
								<img src="{{ site.baseurl }}/image/icon/compliance_32x.png" alt="Compliance" style="width: 20px;">
								<a href="https://faithful.team/" target="_blank" rel="noopener">Compliance</a>
							</li>
							<li>
								<img src="{{ site.baseurl }}/image/icon/compliance_64x.png" alt="Faithful 64x" style="width: 20px;">
								<a href="https://discord.com/invite/Tqtwtgh" target="_blank" rel="noopener">Compliance 64x</a>
							</li>
							<li>
								<img src="{{ site.baseurl }}/image/icon/compliance_addons.png" alt="Compliance Addons" style="width: 20px;">
								<a href="https://faithful.team/tag/faithful-addons/" target="_blank" rel="noopener">Compliance Addons</a>
							</li>
							<li>
								<img src="{{ site.baseurl }}/image/icon/compliance_dungeons.png" alt="Compliance Dungeons" style="width: 20px;">
								<a href="https://faithful-dungeons.github.io/Website/" target="_blank" rel="noopener">Compliance Dungeons</a>
							</li>
							<li>
								<img src="{{ site.baseurl }}/image/icon/compliance_tweaks.png" alt="Compliance Tweaks" style="width: 20px;">
								<a href="https://faithfultweaks.com/" target="_blank" rel="noopener">Compliance Tweaks</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 item">
						<p class="copyright" style="font-size: 19px;">© 2020 {{ project_name }}</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>
  
  <script>
    $('.owl-carousel').owlCarousel({
			center: true,
			loop:true,
			autoplay: true,
			lazyLoad: true,
			rewind: true,
			margin: 20,
			responsiveClass: true,
			autoHeight: true,
			autoplayTimeout: 4000,
			smartSpeed: 800,
			responsive: {
				0: {
					items: 1
				},

				600: {
					items: 3
				},

				1024: {
					items: 4
				},

				1366: {
					items: 4
				}
			}
		});

    // fix non centered icons
		document.addEventListener('DOMContentLoaded', function () { window.dispatchEvent(new Event('resize')); })
  </script>
</body>
</html>
